#completedBanner {
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  margin-top: 47px;
  text-align: center;
  background-color: #000000d9;
  color: white;
  padding: 25px;
  padding-top: 100px;
  z-index: 400;
}
#completedBannerBg {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 650px;
  height: 400px;
  width: 100%;
  background-image: url(../images/film-bg.png);
  background-repeat: repeat-x;
  z-index: 300;
}
.hide {
  display: none;
}
