.nominatedDisplay {
  flex-basis: 70%;
  padding: 25px;
  background-color: lightgrey;
  border: 1px solid grey;
  margin-top: 20px;
  min-width: 700px;
}
.nominatedListContainer {
  display: flex;
  flex-wrap: wrap;
}
