.main {
  margin: auto;
  width: 90%;
}
.footer {
  background-color: black;
  height: 175px;
}
.content {
  display: flex;
  align-content: space-around;
  flex-wrap: nowrap;
}
.nominatedMovie {
  padding: 10px;
  width: 30%;
  text-align: center;
}
.topdiv {
  background-color: black;
  height: 22px;
}
#mainbg {
  background-image: url("../images/theater-bg.jpg");
  background-position: top;
  background-attachment: fixed;
}
.white {
  color: white;
}
.lighten {
  opacity: 0.2;
}
